---
import BaseLayout from '../../../layouts/BaseLayout.astro';

import NovelTitle from '../../../components/NovelTitle.astro';
import NameChange from '../../../components/NameChange.astro';

const pageTitle = "短編";
const pankuzuLists =[
  {name: "txt" ,path:"txt/"},
  {name: pageTitle }
]

const allPosts = await Astro.glob('./*.md');
// 新着順に表示します
const sortedPosts = allPosts.sort((a, b) => {
    const aDate = new Date(a.frontmatter.pubDate);
    const bDate = new Date(b.frontmatter.pubDate);
    return bDate.getTime() - aDate.getTime();
  });

---
<BaseLayout pageTitle={pageTitle} pankuzu ={pankuzuLists}>
  <main id="novelList">
    <h2 class="tit_middle">[{pageTitle}]</h2>
    <NameChange defaultFamName="佐藤" defaultName="梅子" classFamName="charmname2" className="charmname4" />
    <ul class="novelLinkList">
      {sortedPosts.map((post) => <NovelTitle tit={post.frontmatter.title} url={post.url} desc={post.frontmatter.description} ura={post.frontmatter.ura} date={post.frontmatter.pubDate} />)}
    </ul>
  </main>
</BaseLayout>