---
import BaseLayout from '../../layouts/BaseLayout.astro';

import ReplayPost from '../../components/ReplayPost.astro';

const pageTitle = "re";
const pankuzuLists =[
  {name: pageTitle }
]

const allPosts = await Astro.glob('./*.md');
const sortedPosts = allPosts.sort((a, b) => {
  const aDate = new Date(a.frontmatter.receveDate);
  const bDate = new Date(b.frontmatter.receveDate);
  return bDate.getTime() - aDate.getTime();
});
---
<BaseLayout pageTitle={pageTitle} pankuzu ={pankuzuLists}>
  <main id="re">
    <h2 class="tit_normal">-re-</h2>
    {sortedPosts.map((post) => <ReplayPost date={post.frontmatter.receveDate.slice(0,10)} to={post.frontmatter.to} desc={post.frontmatter.desc} url={post.url} />)}
    <div class="pagenation">
      <ul>
        <li class="prev">
          <a href="#">&lt;</a>
        </li>
        <li class="cur">
          <a href="#">1</a>
        </li>
        <li>
          <a href="#">2</a>
        </li>
        <li>
          <a href="#">3</a>
        </li>
        <li class="next">
          <a href="#">&gt;</a>
        </li>
      </ul>
    </div>
  </main>
</BaseLayout>
